$margin: (
    none: 0,
    small: 10px,
    medium: 20px,
    large: 30px,
);

$padding: (
    none: 0,
    small: 10px,
    medium: 20px,
    large: 30px,
);

$color-primary: #97c1ce;
$color-secondary: #9c7623;
$color-secondary-hover: #dfae44;
$color-btn: #dfae44;
$color-btn-hover: #a89a1c;
$color-white: #e2e2e2;
$color-border: #444444;
$color-black: #181818;